.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
// --opacityL: 1;

// link-more

.link-more {
    padding: 0px 35px;
    display: inline-block;
    margin: 32px 0px 35px;
    border: 1px solid hsla(0, 0%, 100%, 0.5);
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #fff;
    letter-spacing: -0.1px;

    &:hover {
        border-color: #fff;
        background-color: #fff;
        color: #333;

        transition: background-color 0.2s linear, color 0.2s linear,
            border-color 0.2s linear;
    }
}
