body {
    background: #000;
    overflow-x: hidden;
}
.sc-main {
    height: 150vh;
    position: relative;
    color: #8a8a8a;
    --opacity: 1;
    .main-text {
        position: absolute;
        z-index: 1;

        text-align: center;
        padding-top: 15rem;
        &::after {
            opacity: var(--opacity);
            position: absolute;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            content: "";
            background: linear-gradient(
                to top,
                #000000 6%,
                rgba(0, 0, 0, 0.9) 10.33%,
                rgba(255, 255, 255, 0) 42%
            );
            pointer-events: none;
        }
    }
    .text-inner {
        padding-top: 6vh;
    }
    .title {
        padding: 0px 150px;
        font-size: 18rem;
        line-height: 94%;
        font-weight: 500;
        color: #dcd7d2;
    }
    .desc {
        font-size: 3rem;
        margin-top: 4rem;
    }

    .link-wrap {
        display: inline-block;
    }
    .link-viedeo {
        margin-top: 4rem;
        align-items: center;
        padding: 2rem 4rem 2rem 4rem;
        color: #dcd7d2;
        background-color: black;
        border: 2px solid #dcd7d2;
        border-radius: 500px;
        cursor: pointer;
        transition: 200ms;
        transition: all 0.5s;
        font-size: 1.8rem;
        line-height: 128%;
        letter-spacing: 0em;
        text-transform: uppercase;
        font-weight: bold;
        display: flex;
        align-items: center;

        &:hover {
            color: #000000;
            background-color: #dcd7d2;
        }
        &:hover svg path {
            fill: #000000;
        }
        .name {
            font-size: 1.6rem;
            transform: translateY(0.1rem);
            margin-left: 1.4rem;
        }
    }

    .main-bg {
        position: sticky;
        top: 0;
        opacity: 0;
    }
}

.sc-enjoy {
    height: 300vh;
    position: relative;

    .enjoy-wrap {
        height: 100vh;
        position: sticky;
        top: 0;
    }
    .enjoy-bgImg {
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;

        img {
            width: 100%;
        }
    }
}

.sc-slide {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .slide {
        display: flex;
        .slide-list {
            display: flex;
            animation: infinite-slide 40s linear infinite;
            gap: 1.3rem;

            &:nth-child(2) {
                margin-left: 0.75rem;
            }
        }
        .slide-item {
            width: 400px;
            height: 468px;

            img {
                height: 100%;
            }
        }
    }
    .link-wrapper {
        margin-top: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .link-enjoy {
            display: inline-flex;
            align-items: center;
            padding: 2rem 4rem 2rem 4rem;
            color: #dcd7d2;
            background-color: black;
            border: 2px solid #dcd7d2;
            border-radius: 500px;
            cursor: pointer;
            transition: 200ms;
            transition: all 0.5s;
            font-size: 1.8rem;
            line-height: 128%;
            letter-spacing: 0em;
            text-transform: uppercase;
            font-weight: bold;
            &:hover {
                color: #000000;
                background-color: #dcd7d2;
            }
        }
    }
}
@keyframes infinite-slide {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.sc-product {
    position: relative;
    height: 150vh;
    .sticky-wrap {
        position: sticky;
        top: 0;
        height: 100vh;
        .sticky-bg {
            height: 100vh;
            position: sticky;
            top: 0;
            opacity: 0;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .sticky-bottle {
            top: 50%;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -150%) scale(0.7, 0.7);
            opacity: 0;
            img {
                width: 51.5rem;
                height: 37.2rem;
            }
        }
    }
    .link-wrapper {
        position: absolute;
        top: 71%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .link-enjoy {
            display: inline-flex;
            align-items: center;
            padding: 2rem 4rem 2rem 4rem;
            color: #dcd7d2;
            border: 2px solid #dcd7d2;
            border-radius: 500px;
            cursor: pointer;
            transition: 200ms;
            transition: all 0.5s;
            font-size: 1.8rem;
            line-height: 128%;
            letter-spacing: 0em;
            text-transform: uppercase;
            font-weight: bold;
            &:hover {
                color: #000000;
                background-color: #dcd7d2;
            }
        }
    }
}
.sc-Organic {
    z-index: 1;
    position: relative;
}

.sc-purest {
    top: -350px;

    height: 150vh !important;
    position: relative;
    .con-text {
        transform: translateY(100%);
        z-index: 1;
        position: absolute;
        opacity: 0;
    }
    .purset-video {
        opacity: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        video {
            height: 100%;
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.6);
            z-index: 1;
            pointer-events: none;
        }
    }
}
.text-wrapper > section {
    height: 100vh;
    background-color: black;
}

.sc-enjoy {
    .enjoy-bgImg {
        opacity: 0;
    }
    .enjoy-textImg {
        opacity: 0;
        transform: scale(50, 50);
    }
}
